# Ignore all CSV files
*.csv

# Ignore all images in the figures directory
figures/*.png

# Ignore all messages files
*.dat

# Ignore all test files
test_files/*.dat
*.enc

# Ignore all compiled files
*.o
ldpc_decode